.HorizontalScroll {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  overflow-y: visible;
  position: relative;
  overflow-x: hidden;

  margin: 0;
}

.container {
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lastContainer {
  display: flex;
  height: 100vh;
}

.panel {
  width: 100vw;
  height: 100%;
}

.red {
  background: red;
  background-image: url(/src/assets/pexels-stephanthem-753873.jpg);
  background-size: cover;
}
.purple {
  background: purple;
  background-image: url(/src/assets/pexels-artempodrez-7048045.jpg);
  background-size: cover;
}
.orange {
  background: orange;
  background-image: url(/src/assets/pexels-shvetsa-3683208.jpg);
  background-size: cover;
}
.blue {
  background-color: blue;
}
